body{
    background-color: #EEE9DA;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #6096B4;
   
}

li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #f8cba6;
}

img {
    display: block;
    padding: 75px;
    margin-left: 40%;
    margin-right: auto;
    width: 50%;
}