body{
    background-color: #EEE9DA;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #6096B4;
   
}

li{
    float: left;
}
li a{
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #f8cba6;
}
.portrait {
    display: block;
    padding: 75px;
    margin-left: 40%;
    margin-right: auto;
    width: 50%;
}

h1{
    font-family: Helvetica, sans-serif;
    font-size: 75px;
    width: 600px;
    height: 200px;
    background-color: #BDCDD6;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 25px;
    padding: 25px;
    
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    width: 590px;
    height: 300px;
    background-color: #BDCDD6;
    text-align: center;
    position: absolute;
    left: 25px;
    top: 650px;
    padding: 30px;
}


h2{ 
    font-family:  Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    background-color: #6096B4;
    text-align: center;
}

.marketing-web{
    display: block;
    padding: 75px;
    width: 50%;
}


*{
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

  }
  
  input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6096B4;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #f8cba6;
  }
  
  /* Style the container/contact section */
  .container {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #EEE9DA;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }